* {
  margin: 0;
  width: 100%;
}

.container {
  display: flex;
}

.formulario{
width: 25%;
}

.lista-imagens {
  width: 75%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.imagem {
  width: 90%;
  margin-bottom: 25px;
}

.input-form{
    width: 90%;
    height: 20px;
    border-color: blue;
    border-radius: 5px;
}

#SelectImage{
    width: 80%;
}
.buttom-enviar{
    background-color: blue;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    border: none;
    float: right;
    margin-right: 30px;
}
.campo-input{
    margin-bottom: 10px;
}
